# Kotlin / Gradle
.kotlin
.gradle
**/build/
!src/**/build/

# Local config
local.properties
.env
.env.*

# IDE
.idea
*.iml

# macOS
.DS_Store

# Logs / temp
*.log
*.tmp

# Android
captures
.externalNativeBuild
.cxx
*.keystore
*.jks

# iOS / Xcode
xcuserdata
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/project.xcworkspace/
!*.xcworkspace/contents.xcworkspacedata
**/xcshareddata/WorkspaceSettings.xcsettings

# Node
node_modules/